---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LinkedInLogo from "../assets/linkedInLogo.webp";
import GithubLogo from "../assets/githubLogo.png";
import FinotorScreen from "../assets/finotor.jpg";
import GpleadsScreen from "../assets/gpleads.jpg";
import AskformScreen from "../assets/askform.jpg";
import SpotTogetherScreen from "../assets/spotTogether.jpg";
import ForskalScreen from "../assets/forskal.jpg";

import ForskalScreenBg from "../assets/screenSaas/Forskal with bg.png";
import SpotTogetherBg from "../assets/screenSaas/SpotTogether with bg.png";
import FinotorBg from "../assets/screenSaas/FinotorBg.png";
import GpLeadsBg from "../assets/screenSaas/GpLeadsBg.png";
import AskformBg from "../assets/screenSaas/AskformBg.png";
import viaTransitBg from "../assets/screenSaas/viaTransitBg.png";
import CardPrimary from "../components/CardPrimary.astro";
const AskupDemo = `
<div style="position: relative; padding-bottom:calc(50.18587360594795% + 50px); height: 0;">
<iframe id="yr4mn97s4r" src="https://app.guideflow.com/embed/yr4mn97s4r" width="100%" height="100%" style="overflow:hidden;position:absolute;border:none" scrolling="no" allow="clipboard-read; clipboard-write" webkitallowfullscreen mozallowfullscreen allowfullscreen allowtransparency="true"></iframe>
</div>
`;
---

<Layout title="Alexandre Izanic | Portfolio">
  <main
    class="bg-white max-w-7xl px-5 md:px-20 m-auto mt-14 flex flex-col gap-20 mb-40"
  >
    <section class="flex flex-col gap-3">
      <div class="font-bold text-4xl text-center">Hey, I'm Alex</div>

      <p class="font-medium text-center">
        I'm a freelance <span class="font-black text-lg"
          >FullStack developer</span
        >, building professional user interface and complex applications. <br />
        I'm currently cofound askform, where I help companies organize their external
        communications towards their employees and their requests through tickets.
      </p>

      <div class="flex gap-3 justify-center">
        <button
          class="px-4 py-2 bg-black text-white rounded-lg font-medium hover:bg-black/90 hover:bg-blue-500 transition duration-300 ease-in-out"
        >
          <a href="https://calendly.com/alexandre-izanic/meet" target="_blank">
            Schedule a call
          </a>
        </button>
        <a href="https://www.linkedin.com/in/alexandre-izanic/" target="_blank">
          <div
            class="border rounded-lg w-auto flex justify-center items-center hover:bg-slate-100 p-2"
          >
            <img src={LinkedInLogo.src} class="h-auto w-8" />
          </div>
        </a>

        <a href="https://github.com/AlexandreIzanic" target="_blank">
          <div
            class="border rounded-lg w-auto flex justify-center items-center hover:bg-slate-100 p-3 h-full"
          >
            <img src={GithubLogo.src} class="h-auto w-5" />
          </div>
        </a>
      </div>

      <div class="flex gap"></div>
      <CardPrimary
        title="Askform"
        body="Ticketing system for companies"
        role="Cofounder & Fullstack Developer"
        tags={[
          "React",
          "Typescript",
          "Supabase",
          "Zod",
          "Node",
          "Stripe",
          "Zustand",
          "Vitest",
          "Astro",
          "Github Actions",
          "Vercel",
          "Redis",
          "Strapi",
          "Plausible",
        ]}
      />
      <!-- <Card
        iframeLink="https://app.guideflow.com/embed/yr4mn97s4r"
        title="Askform"
        body="Ticketing system for companies"
        role="Cofounder & Fullstack Developer"
        tags={[
          "React",
          "Typescript",
          "Supabase",
          "Zod",
          "Node",
          "Stripe",
          "Zustand",
          "Vitest",
          "Astro",
          "Github Actions",
          "Vercel",
          "Redis",
          "Strapi",
          "Plausible",
        ]}
      /> -->
    </section>

    <section class="flex flex-col gap-5">
      <div class="grid md:grid-cols-2 gap-4">
        <Card
          title="Le Stud - Startup Studio"
          img={FinotorBg.src}
          body="The only all-in-one solution to manage your business accounting, finances and bank accounts"
          role="Freelance Fullstack Developer"
          tags={[
            "React",
            "Node",
            "PostgreSQL",
            "Sequelize",
            "Stripe",
            "Mixpanel",
            "i18n",
            "Joi",
          ]}
        />

        <Card
          title="ViaTransit"
          img={viaTransitBg.src}
          body="Migration Page router => AppRouter & firebase to Supabase"
          role="Freelance Frontend Developer"
          tags={[
            "Next",
            "React",
            "Tailwind",
            "firebase",
            "supabase",
            "mongodb",
            "CircleCi",
            "Docker",
          ]}
        />

        <Card
          title="GpLeads"
          img={GpLeadsBg.src}
          body="Lead generation for B2B companies"
          role="Freelance Fullstack Developer"
          tags={["React", "Node", "MySQL", "Zustand", "Stripe", "MapBox"]}
        />

        <Card
          title="SpotTogether"
          img={SpotTogetherBg.src}
          body="Organize events with your friends"
          role="Hobby Project"
          tags={["React", "Supabase", "MapBox"]}
        />
        <Card
          title="Forskal"
          img={ForskalScreenBg.src}
          body="Landing page for an agency"
          tags={["Html/Css", "Js"]}
          role="Freelance Frontend Developer"
          link="https://forskal.netlify.app"
        />
      </div>
    </section>
  </main></Layout
>
