---
interface Props {
  title: string;
  body: string;
  href?: string;
  img?: string;
  tags: string[];
  link?: string;
  role: string;
  description: HTMLAttributes<"span">;
}

const { href, title, body, img, tags, link, role, description } = Astro.props;

import VideoAnalytics from "../assets/Askform-analytics.mp4";
import VideoNewView from "../assets/Askform-newView.mp4";
import VideoColumn from "../assets/Askform-column.mp4";
import VideoGoal from "../assets/Askform-goal.mp4";
import type { HTMLAttributes } from "astro/types";

const sourcesVideos = [VideoAnalytics, VideoNewView, VideoColumn, VideoGoal];
---

<li class="flex flex-col border h-fit w-auto gap-3 p-4 rounded-lg">
  <div class="w-full flex justify-between items-center">
    <div>
      <h2 class="font-bold text-xl">{title}</h2>
      <span class="text-gray-500 text-sm">{role}</span>
    </div>

    <a href={link} target="_blank">
      <button
        class="px-4 py-1 h-fit bg-gray-100 text-gray-800 border-gray-400 border rounded-lg font-medium hover:bg-black/90 hover:bg-gray-200 transition duration-300 ease-in-out text-sm"
      >
        Visit website
      </button>
    </a>
  </div>
  <div class="w-full border"></div>
  <div>
    <slot name="body" />
    <slot name="description" />
  </div>

  <ul class="flex flex-wrap mb-4">
    {
      tags &&
        tags.map((tag) => (
          <li class="bg-neutral-50 text-gray-300 rounded border px-3 py-[1px] text-sm mr-2 mt-2 hover:bg-neutral-200 transition-all">
            {tag}
          </li>
        ))
    }
  </ul>

  <a href={href} class="w-full h-fit flex flex-col">
    <img src={img} class="rounded-lg w-auto" />

    <div class="grid grid-cols-2 gap-4 h-fit">
      {
        sourcesVideos.map((videoSrc, index) => (
          <div class="aspect-w-16 aspect-h-9 h-full rounded-lg">
            <video muted loop autoplay class="rounded-lg w-full h-full">
              <source src={videoSrc} type="video/mp4" />
              Ton navigateur ne supporte pas la balise vidéo.
            </video>
          </div>
        ))
      }
    </div>
  </a>
</li>
